@font-face {
  font-family: FuturaDisplayBQ;
  src: url(../css/Futura\ Display\ BQ\ Regular.otf);
}

body {
  background-image: linear-gradient(to bottom, #2B835F, #76BA9F, #2B835F);
  padding-top: 50px;
  margin: 0;
}

header h1 {
  text-align: center;
  font-size: 80px;
  font-family: FuturaDisplayBQ;
  color: #F9F6EE;
  letter-spacing: 5px;
  margin-top: 50px;
  margin-bottom: 2em;
}

.deku-img {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  border-radius: 190px;
  border-style: solid;
  border-color: #F9F6EE;
  border-width: 12px;
  display: block;
}

.box {
  width: 100%;
}

.box2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgba(4, 82, 51, .4);
  border-radius: 32px;
}

.box-for-image {
  width: 300px;
  margin: 64px 16px 64px 32px;
  display: inline-block;
}

.deku-pic {
  width: auto;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.box-description {
  width: 500px;
  display: inline-block;
  vertical-align: top;
  margin: 125px 32px 64px 16px;
  padding: 12px 32px 12px 32px;
  background-color: #F9F6EE;
  border-radius: 16px;
}

.box3 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.box-description h2 {
  font-family: FuturaDisplayBQ;
  font-size: 32px;
  color: #2B835F;
  letter-spacing: .1em;
  margin-bottom: 0;
}

.box-description p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #28282B;
  margin-top: 10px;
  line-height: 25px;
  text-indent: 35px;
}

.box-description ul {
  list-style-type: disc;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #28282B;
}

.box-group-photo {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  display: block;
}

.box-group-photo img {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: solid;
  border-color: #F9F6EE;
  border-width: 5px;
  border-radius: 25px;
}

.box-group-photo p {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #28282B;
  margin-left: 15px;
  font-style: oblique;
}

hr {
  background-color: rgba(255, 255, 255, .8);
  margin-top: 5em;
}

.deku-friends {
  font-family: FuturaDisplayBQ;
  font-size: 48px;
  color: #F9F6EE;
  text-align: center;
  letter-spacing: .07em;
  margin-top: 64px;
  margin-bottom: 5px;
}

.friends-list {
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
  margin-top: 16px;
  padding-bottom: 15px;
  display: block;
}

.friends-list img {
  width: 120px;
  height: 100px;
  margin-top: 10px;
  margin-left: 16px;
  margin-right: 8px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  display: inline-block;
  filter: grayscale(100%);
  border-radius: 30px;
  background-color: #F9F6EE;

}

.friends-list img:hover {
  filter: grayscale(0%);
  background-color: #EBEAEA;
  transition: .5s ease;
}

.friends-list img:active {
  background-color: #F9F6EE;
  filter: grayscale(100%);
}

footer {
  background-color: #28282B;
  margin-top: 32px;
  padding-bottom: 0;
}

footer p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #F9F6EE;
  padding: 3px 0 3px 0;
  margin-bottom: 0;
}

.link a {
  text-decoration: none;
  color: #76BA9F;
}
